/*---------------------------------------------------------------
	Variables
--------------------------------------------------------------- */

/* Colors
--------------------------------------------------------------- */

$blanc 				: #fff;
$noir				: #333;

$darkblue			: #062A60;
$lightblue			: #E0E4EB;
$babyblue			: #00C0EA;
$windowsblue		: #4977BC;

$pink				: #F88D9C;

/* Sizes
--------------------------------------------------------------- */

$x-small-width   	: 480px;
$m-small-width   	: 600px;
$small-width  		: 800px;
$medium-width   	: 1000px;
$large-width    	: 1200px;
$x-large-width    	: 1400px;
$full-width     	: 1600px;

/* Fonts
--------------------------------------------------------------- */

$primaryFont		: "sans-serif";

/* Anything else
--------------------------------------------------------------- */

$mobile-top-bar-height 	: 40px;