/*---------------------------------------------------------------
	Variables
--------------------------------------------------------------- */

/* Colors
--------------------------------------------------------------- */

$blanc 				: #fff;
$noir				: #333;

$lightgrey			: #eee;

// Primary colour and its opposite
$twd-primary				: orange;
$twd-primary-opp			: black;

// Secondayr colour and its opposite
$twd-secondary				: red;
$twd-secondary-opp			: white;

/* Sizes
--------------------------------------------------------------- */

$x-small-width   	: 480px;
$small-width  		: 800px;
$medium-width   	: 1000px;
$large-width    	: 1200px;
$x-large-width    	: 1400px;
$full-width     	: 1600px;

/* Fonts
--------------------------------------------------------------- */

$primaryFont		: "sans-serif";

/* Anything else
--------------------------------------------------------------- */

$mobile-top-bar-height 	: 40px;