.gallery {
	ul {
		list-style: none;
		margin: 0 auto;
		@include flexbox();
		@include flex-wrap(wrap);
	}
	li {
		display: inline-block;
		padding: 1em;
		transition: .3s;
		width: 50%;
		&:hover {
			opacity: 0.8;
		}
	}

	img {
		width: 100%;
		height: auto;
	}

	@include bp800 {
		@include justify-content(space-between);
		@include flex-wrap(nowrap);

		li {
			width: 25%;
		}
	}
}