.why-choose-us {
	background: $lightgrey;
	ul {
		list-style: none;
	}
	span {
		margin-right: 10px;
	}
	h2 {
		margin: .5em 0;
		line-height: 1em;
	}
	@include bp800 {
		ul {
			@include flexbox();
			@include flex-wrap(wrap);
		}
		li {
			width: 50%;
		}
	}
}