aside {
	padding: 2em 0;
}

.cta {
	display: block;
	position: relative;
	margin: 1em 0;
	&:after {
		background-size: cover;
		background-position: center center;
		content: '';
		display: block;
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		z-index: -1;
	}
	p {
		margin: 0 0 .5em 0;
	}
}
.cta-1 {
	background: rgba($twd-primary,0.6);
}
.cta-2 {
	background: rgba($twd-secondary,0.6);
	text-align: right;
}