/*---------------------------------------------------------------
    Header
--------------------------------------------------------------- */

.top-bar {
    background: $noir;
}

header {
    background: $blanc;
    position: relative;

    &:before {
        /* Pseudo element to push content down */
        content: '';
       	height: $mobile-top-bar-height;
        display: block;
        
        @include bp800 {
            display: none;
        }
    }

    @include bp800 {
        background: lighten($noir,10);
    }

    .logo {
        display: block;
        transition: .3s;
        margin: 0 auto;
        background: $blanc;
        padding: 1em .5em;
        text-align: center;
        @include flexbox();

        img {
            width: 100%;
            max-width: 220px;
            display: block;
            height: auto;
            margin: auto;
        }

        &:hover {
            opacity: 0.8;
        }

        @include bp800 {
            position: absolute;
            top: -49px;
            left: 0;
            z-index: 10;
            height: 155px;
            width: auto;
        }

        @include bp1200 {
            height: 220px;
        }
    }

    .phone-top-right {
        display: none;
        padding: 2em 0;
        color: $blanc;
        float: right;

        a {
            color: $twd-primary; 
            text-decoration: none;
        }

        .ld-toggle {
            display: inline-block;
            padding: .5em;
            border: 1px solid $twd-primary;
            border-radius: 5px;
            margin: 0 .5em;
            &:hover {
                background: $twd-primary;
                color: $twd-primary-opp;
            }
        }

        .ld-locations-container {
            position: relative;
            display: inline-block;
        }

        .ld-dropdown {
            position: absolute;
            top: 38px;
            right: .5em;
            min-width: 200px;
            padding: .5em;
            display: block;
            background: $noir;
            border: 1px solid $twd-primary;
            z-index: 100;
            border-radius: 5px 0 5px 5px;
        }

        @include bp800 {
            display: block;
        }
    }

    .container {
        position: relative;
        &:after {
            content: '';
            display: block;
            clear: both;
        }

    }

}