/*---------------------------------------------------------------
    Copy
--------------------------------------------------------------- */



.site-content {
    padding: 20px 0;
    @include clearfix;
    

    &__info {
        @include font-anton-400;
        background: $pink;
        color: $blanc;
        border-radius: 20px 20px 0px 0px;
        padding: 15px 25px;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-bottom: 20px;
       

        @include bp800 {
            display: flex;
        }
    }
    
    &__category {
        flex: 2;
    }

    &__date {
        padding: 0px 30px 0px 0px;
    }

    &__comments {
        
    }
}



.copy {

    @include bp800 {
        width: 60%;
        float: left;
    }

    h1 {
        color: $windowsblue;
    }

	h1 + p {
        font-size: 2rem;
        font-weight: 700;
    }

    p {
        margin: 20px 0;
        @include font-din-400;
    }

    p + .btn {
        margin-top: 20px;
    }

    ul {
        list-style: none;
        margin: 25px 0;
    }

    > ul li {
        margin: 8px 0;
        &:before {
            display: inline-block;
            padding-right: 5px;
            font-family: FontAwesome;
            content: '\f0da';
        }    
    }

    ol {
        margin-left: 10px;
    }

    img {
        display: block;
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    @include bp480 {

        img {
            width: auto;
        }

        .alignleft {
            float: left;
            margin: 10px 10px 10px 0;
        }

        .aligncenter {
            clear: both;
            margin: 0 auto;
        }

        .alignright {
            float: right;
            margin: 10px 0 10px 10px;
        }
    }
}


.post {
    &--overview {
        margin-bottom: 60px;
        padding-bottom: 60px;
        border-bottom: 1px solid lighten(#ccc,12);

        h1 {
            margin-top: 0;
        }
    }
}

.pagination {
    margin: 60px 0px 0px 0px;

    nav {
        display: flex;
        justify-content: center;
        background: $pink;

        a.page-numbers, span {
            padding: 5px 11px;
            background: $blanc;
            margin: 3px;
            border-radius: 4px;
            text-decoration: none;
            color: $noir;
            @include font-din-400;

            &.next {
                align-self: flex-end;
            }

            &.current {
                @include font-din-700;
            }
        }
    }
}