/*---------------------------------------------------------------
    Destinations Loop
--------------------------------------------------------------- */

.container--destinations {

}

.destinations-section {
    display: flex;
    flex-wrap: wrap;

    @include bp800 {
        padding: 40px 0px 0px 0px;
        flex-wrap: wrap;
        justify-content: center; 
    }
}

.destinations__wrapper {
    background: $blanc;
    overflow: auto;
    width: 100%;
}

.destinations__container {
    overflow: auto;
    padding: 60px 20px 150px 20px;
}

.destination-i-container {
    
}

.destination-i {
    position: relative;
    padding: 20px;
    min-height: 400px;
    color: $noir;
    @include clearfix;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 0px 10px 10px 10px;
    margin: 30px auto 30px auto;
    max-width: 600px;
    width: 100%;
    transition: .3s;

    @include bp800 {
        margin: 20px 0;
        width: 50%;
        border-left: 20px solid white;
        border-right: 20px solid white;
        border-top: 0px solid white;
        border-bottom: 0px solid white;
        border-radius: 0px 0px 10px 10px;
    }

    @include bp1000 {
        width: 33.3%;
        border-left: 20px solid white;
        border-right: 20px solid white;
        border-top: 0px solid white;
        border-bottom: 0px solid white;
    }

    &:after {
        content: "\f105";
        font: 1.4em/1 FontAwesome;
        font-weight: 700;;
        color: $noir;
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 14px 20px;
        text-align: center;
        background: $babyblue;
        transition: .3s;
    }

    &:hover {
        .post-name {
            margin: 0 auto -40px auto;
        }
        
        &:after {
            padding: 20px 28px;
        }
    }
} 

.destination-name {
    background: $babyblue;
    @include font-anton-400;
    font-size: 2.5rem;
    padding: 15px 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: absolute;
    top: 50px;
    left: 0;
}