/*---------------------------------------------------------------
    Hero
--------------------------------------------------------------- */

.hero {
    text-align: center;
    background-size: cover;
    background-position: center;

    @include bp800 {
        margin: 200px 0px 0px 0px;
    }
   

    &__container {
        position: relative;   
        
        @include bp800 {
            display: flex;
            min-height: 350px; 
        }
    }

    &__content {
        color: $darkblue;

        @include bp800 {
            @include font-anton-400;
            z-index: 2;
            width: 45%;
            max-width: 690px;
            text-align: left;
            padding: 50px 0px 0px 40px;
        }

        @include bp1000 {
            width: 50%;
        }
    }

    &__primary  {
        font-weight: 400;
        font-style: normal;
        font-size: 36px;
        @include font-anton-400;
        padding: 10px 0px 50px 0px;

        @include bp800 {
            font-size: 45px;
            line-height: 65px;
        }

        @include bp1000 {
            font-size: 64px;
            line-height: 85px;
        }
    }

    &__image {
        z-index: 1;
        background-size: 100%;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;

        @include bp800 {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 470px;
            min-height: 700px;
            margin: 0;
        }

        @include bp1000 {
            width: 500px;
        }

        @include bp1200 {
            width: 550px;
        }

        img {
            width: 100%;

            @include bp600 {
                width: 100%;
                height: 610px;
            }

            @include bp800 {
                height: 600px;
                width: initial;
                margin-left: -45px;
            }
        }
    }
    
}
