/*---------------------------------------------------------------
    Mobile Top Bar
--------------------------------------------------------------- */



.mobile-top-btn {
    display: inline-block;
    float: left;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    @include font-anton-400;
    position: fixed;
    top: 0;
    z-index: 200;

    @include bp800 {
        display: none;
    } 

    &--menu {
        color: $blanc;
        background: $pink;
        border-radius: 0px 30px 30px 0px;
        padding: 15px 30px 13px 30px;

        i {
            font-size: 25px;
        }
    }
    
    // Used when only one number is in the mobile top bar
    &--single-number {
        width: 65%;

        &:before {
            display: inline-block;
            margin-right: 10px;
            content: '\f095';
            font-family: "FontAwesome";
        }

        a {
            color: $noir;        
        }
    }
}