/*---------------------------------------------------------------
    Posts Loop
--------------------------------------------------------------- */

.posts {
    display: block;

    @include bp800 {
        display: flex;
        flex-wrap: wrap;
    }
}

.posts__wrapper {
    background: $blanc;
    overflow: auto;
    width: 100%;
}

.posts__container {
    overflow: auto;
    padding: 60px 20px 150px 20px;
}


.post-i {
    padding: 20px;
    min-height: 400px;
    color: $noir;
    @include clearfix;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    border-radius: 0px 10px 10px 10px;
    margin: 40px auto 80px auto;
    max-width: 600px;

    &:nth-of-type(odd) {
        @include bp800 {
            margin: 60px 0px 0px 0px;
            border-right: 30px solid #fff;
        }
    }

    &:nth-of-type(even) {
        @include bp800 {
            margin: 60px 0px 0px 0px;
            border-left: 30px solid #fff;
        }
    }

    @include bp800 {
        width: 50%;
        float: left;
        max-width: none;
    }
} 

.destination-name {
    background: $babyblue;
    @include font-anton-400;
    font-size: 2.5rem;
    padding: 15px 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
}

.post-name {
    color: $blanc;
    @include font-din-700;
    font-size: 2.0rem;
    padding: 15px 25px;
    align-self: flex-end;
    background: #000;
    margin: 0 auto -50px auto;
    width: 100%;
    text-align: center;
    text-decoration: none;
}