/*---------------------------------------------------------------
    Sidebar
--------------------------------------------------------------- */

.sidebar {

	@include bp800 {
        width: 37%;
        float: right;
        margin-left: 3%;
    }

	&--news {

	}
}


/*---------------------------------------------------------------
    Sidebar - News Page
--------------------------------------------------------------- */

$headingColour : $pink;
$listBg : #ccc;
$linkColor : $noir;
$linkBg : lighten(#ccc,5);

.sidebar-item {
    background: $lightblue;
	border-radius: 15px;
	margin-bottom: 15px;
	padding: 20px;
	text-align: center;
	list-style: none;

	@include bp800 {
		padding: 30px;
		text-align: left;
	}

	.title {
		color: $pink;
		text-transform: uppercase;
		letter-spacing: 6px;
		margin: 0px 0px 20px 20px;
	}

	a {
		border-top: #CBCDD0 solid 1px;
		@include font-din-400;
		text-decoration: none;
		display: block;
		position: relative;
		padding: 10px 20px;	
		margin: 20px 0px 0px 0px;
		font-size: 2.0rem;
		color: $windowsblue;

		&:after {
			content: "\f105";
			margin-left: -8px;
			font: 1em/1 FontAwesome;
			position: absolute;
			right: 20px;
			top: 13px;
		}

		&:hover {
			padding: 10px 20px 10px 35px;	
		}
	}
}

.sidebar-item__info {
    
}

.sidebar-item__sidebar {
    
}

.sidebar-item__featured-post {
	
}

.sidebar-item__featured-image {
	overflow: hidden;
	border-radius: 20px;

	img {
		width: 100%;
		height: auto;
		margin-top: -90px;
	}
}

.sidebar-item__news-block {
	margin-bottom: 15px;
	padding: 20px;
	text-align: center;
	list-style: none;

	@include bp800 {
		padding: 30px;
		text-align: left;
	}

	&__title {
		margin-bottom: 5px;
		font-size: 2.2rem;
		font-weight: 300;
		color: $headingColour;
	}

	ul {
		list-style: none;
	}

	.current-cat a {
		opacity: .7;
	}

	a {
		border-top: #CBCDD0 solid 1px;
		@include font-din-400;
		text-decoration: none;
		display: block;
		position: relative;
		padding: 10px 20px;	
		margin: 0px 0px 0px 0px;
		font-size: 2.0rem;
		color: $windowsblue;

		&:after {
			content: "\f105";
			margin-left: -8px;
			font: 1em/1 FontAwesome;
			position: absolute;
			right: 20px;
			top: 13px;
			color: $pink;
		}
	}
}
